.pref-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    
}
.container{
.preface {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    
    img {
        width: 35%;
        align-self: center;
        transform: rotate(5deg);
    }
    h2 {
        align-self: center;
        color: white;
        font-size: 45px;
        text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%), 4px 4px 0 hsl(22, 68%, 53%), 5px 5px 0 hsl(22, 68%, 53%), 6px 6px 0 hsl(22, 68%, 53%), 7px 7px 0 hsl(22, 68%, 53%);
    }
    p {
        text-align: center;
        color: white;
        font-size: 22px;
        line-height: 1.5em;

        
    }
}
.bg1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/blog-background1.jpg');
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index:2 ;
  
}
}