html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    overflow: hidden;
}

main {
    height: 500px;
    #split {
        display: flex;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        width: 120%;
        margin-left: -10%;
        article {
            display: flex;
            flex-direction: column;
            height: 150%;
            margin-top: -10%;
            padding: 10% 5%;
            width: 45%;
            float: left;
            color: #ccc;
            transform: rotate(5deg);
            h2 {
                text-align: center;
                cursor: pointer;
                transform: rotate(-5deg);
                font: normal 75px/35px 'Life Savers', cursive;
                margin-top: 20%;
                color: #ccc;
            }
            h2.checked {
                margin-top: 5% !important;
                font-size: 45px;
            }
            h2.small {
                font-size: 25px;
            }
            div {
                margin: 10px 5%;
                transform: rotate(-5deg);
                display: none;
                font-size: 18px;
            }
        }
        .about {
            background: $blog-color;
            display: flex;
            flex-direction: column;
            nav {
                transform: rotate(-5deg);
                display: flex;
                justify-content: center;
                align-self: center;
                margin-top: 20%;
                width: 90%;
                ul {
                    display: flex;
                    li {
                        display: flex;
                        a {
                            color: white;
                            padding: 15px;
                            display: block;
                            font-size: 20px;
                        }
                        a:hover {
                            color: orangered;
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .citation{
                text-align: center;
            align-self: center;
            margin-top: 20%;
            font-size: 25px;
            color: rgb(16, 204, 163);
            span{
                color: #D97139;
                margin-top: 15px;
                display: block;
            }
            }
        }
        .blog {
           
            background: $bio-color;
            div {
                display: flex;
                flex-direction: row;
                .polaroid {
                    width: 20%;
                   
                    padding: 10px 10px 20px 10px;
                    border: 1px solid #BFBFBF;
                    background-color: white;
                    box-shadow: 10px 10px 5px #aaaaaa;
                    transform: rotate(7deg);
                    #punaise {
                        position: absolute;
                        width: 70px;
                        transform: translate(-20px, -20px);
                    }
                }
                .text {
                    width: 50%;
                    transform: rotate(0deg);
                }
            }
            .who{
                align-self: center;
                margin-top: 20%;
                font-size: 25px;
                color: #D97139;
            }
        }
    }
}