#contenu{
    position: relative;
    height: 100%;
    .titre-contact{
        position: absolute;
        left: 43%;
     
    }
    .contact {
        position: absolute;
        z-index: 1000;
        border: none;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        padding: 15px 35px;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        top: 60%;
        left: 50%;
        font-family: 'Cookie', cursive;
        font-size: 35px;
        transform: translate(-50%,50%);
    }
    .contact:hover {
        padding: 15px 55px;
        border: 1px solid #D97136;
        color: #D97136;
    }
}
    .hide {
        opacity: 0;
    }
    
    .pattern {
        background-image: url("../img/pattern.png");
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
   
    #formulaire {
        position: absolute;
        top: 20%;
        left: 35%;
        display: flex;
        flex-direction: column;
        transform: translateX(-300%);
        z-index: 50;
        .nom,
        .prenom,
        .mail,
        .message {
            text-align: center;
            width: 100%!important;
            border: 1px white solid;
            border-radius: 10px;
            margin: 15px;
            background: transparent;
            color: white;
            font-size: 35px;
            z-index: 50;
            font-family: 'Cookie', cursive;
            transition: transform 1s ease-in-out;
        }
        .nom {
            transition-delay: 0s;
        }
        .prenom {
            transition-delay: 0.1s;
        }
        .mail {
            transition-delay: 0.2s;
        }
        .message {
            transition-delay: 0.3s
        }
    }
    .submit {
        color: white;
        width: 15%;
        height: 45px;
        position: absolute;
        z-index: 50;
        top: 80%;
        transform: translateX(-140%);
        background-color: #D97137;
        border: none;
        outline: none;
        border-radius: 10px;
        font-family: 'Cookie', cursive;
        font-size: 25px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        .fa-paper-plane {
            width: 20px;
        }
    }
    .slide {
        transform: translateX(300%);
    }
    .go{
        transform: translateX(800%);
    }
    
