#contact {
    height: 100%;
    .titre-contact {
        position: absolute;
        z-index: 200;
        top: 40%;
        left: 42%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 85px;
        height: 80px;
        width: 100%;
        text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%), 4px 4px 0 hsl(22, 68%, 53%), 5px 5px 0 hsl(22, 68%, 53%), 6px 6px 0 hsl(22, 68%, 53%), 7px 7px 0 hsl(22, 68%, 53%);
        @media screen and (max-width: 48em) {
            left: 15%;
            font-size: 60px;
        }
    }
    #envoi {
        position: absolute;
        z-index: 1000;
        text-align: center;
        display: none;
        color: rgb(4, 255, 201);
        font-size: 45px;
        top: 35%;
        left: 30%;
    }
    .pattern {
        background-image: url("../img/pattern.png");
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    } // .pop-contact {
    //     border-radius: 15px;
    //     box-shadow: 0 0 80px 5px black;
    //     top: 0;
    //     left: 25%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     visibility: hidden;
    //     width: 50%;
    //     height: 500px;
    //     z-index: 1001;
    //     position: absolute;
    //     background-color: #D97136;
    //     top: -300px;
    //     animation: drop 1s ease-in-out forwards;
    //     animation-play-state: paused;
    //     @media screen and (max-width: 48em) {
    //         left: 15%;
    //         width: 70%;
    //         height: 300px;
    //         top: -400px;
    //     }
    //     h3 {
    //         color: rgb(255, 255, 255);
    //         font-size: 22px;
    //         margin-top: 20px;
    //         margin-bottom: 20px;
    //         font-family: 'Alegreya', cursive;
    //     }
    //     .cross {
    //         width: 40px;
    //         height: 40px;
    //         position: absolute;
    //         top: 15px;
    //         left: 15px;
    //         cursor: pointer;
    //         transition: transform 0.5s ease-in-out;
    //     }
    //     .cross:hover {
    //         transform: rotateZ(180deg);
    //     }
    //     h4 {
    //         color: #ffffff;
    //         margin-bottom: 15px;
    //     }
    //     form {
    //         display: flex;
    //         flex-direction: column;
    //         input,
    //         textarea {
    //             text-align: center;
    //             display: block;
    //             margin-top: 10px;
    //             width: 100%;
    //             padding: 8px 14px;
    //             line-height: 1.5;
    //             color: rgba(116, 150, 165, 0.651);
    //             border: 1px solid #ced4da;
    //             border-radius: 4px;
    //             transition: box-shadow 0.25s ease-in-out;
    //             font-family: 'Cookie', cursive;
    //             font-size: 25px;
    //         }
    //         input:focus {
    //             outline: none;
    //             box-shadow: 0 0 2px 2px $bg-color;
    //         }
    //     }
    //     .btn-submit {
    //         border: none;
    //         color: white;
    //         background-color: transparent;
    //         border: 1px solid white;
    //         padding: 10px 35px;
    //         cursor: pointer;
    //         transition: 0.25s ease-in-out;
    //         font-family: 'Cookie', cursive;
    //         font-size: 35px;
    //         margin-top: 20px;
    //     }
    //     .btn-submit:hover {
    //         padding: 10px 55px;
    //     }
    // }
    #find {
        position: relative;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        h2 {
            text-align: center;
            position: absolute;
            z-index: 200;
            top: 5%;
            color: white;
            font-family: 'Cookie', cursive;
            font-size: 85px;
            height: 80px;
            width: 100%;
            text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%), 4px 4px 0 hsl(22, 68%, 53%), 5px 5px 0 hsl(22, 68%, 53%), 6px 6px 0 hsl(22, 68%, 53%), 7px 7px 0 hsl(22, 68%, 53%);
            @media screen and (max-width: 48em) {
                left: 15%;
                font-size: 60px;
            }
        }
        #map {
            align-self: flex-start;
            opacity: .7;
            height: 400px;
            width: 100%;
            position: absolute;
        }
    }
    .mail {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1500;
        h3 {
            width: 100%;
            font-size: 45px;
        }
        h4 {
            width: 100%;
            font-size: 35px;
        }
        form {
            align-self: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 40%;
            height: 600px;
            input,
            textarea {
                text-align: center;
                width: 100%;
                margin-top: 20px;
                &:focus{
                    color: orangered;
                }
                &:focus{
                    color: orangered;
                }
                
            }
            input[type=submit] {
                width: 30%;
                align-self: center;
                border: none;
                outline: none;
                background: transparent;
                cursor: pointer;
                border: 1px solid black;
                padding: 15px  35px;
                
            }
        }
    }
}