footer {
    position: relative;
    background-image: url('../img/footer.jpg');
    background-size: cover;
    height: 300px;
    border-top: 1px solid orange;
    #adress {
        position: absolute;
        top: 40px;
        right: 5%;
        color: #D97136;
        text-align: center;
        font-size: 20px;
    }
    #map {
        height: 250px;
        width: 20%;
        position: absolute;
        left: 40%;
        top: 15px;
        opacity: .5;
    }
    #copy {
        color: white;
        height: 20px;
        margin-top: 70px;
        text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%);
    }
    #reseaux {
        margin-top: 50px;
        height: 60px;
        #fb,
        #tw,
        #lk,
        #inst {
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
        }
        #fb {
            background: url("../img/reseaux.png") 0px -50px;
        }
        #tw {
            margin-left: 5%;
            background: url("../img/reseaux.png") 50px 0px;
        }
        #lk {
            margin-left: 15%;
            background: url("../img/reseaux.png") 50px 50px;
        }
        #inst {
            margin-left: 10%;
            background: url("../img/reseaux.png") 0px 0px;
        }
    }
}