header {
    box-shadow: 0 23px 30px 8px rgba(5, 5, 5, 0.705);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: 200;
    @include deg;
    border-bottom: 1px solid orange;
    // ANIMATION MENU BURGER
.burger {
    transform: translateY(-150px);
    left: 15%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    @media screen and (max-width: 48em) {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    svg {
        fill: transparent;
        stroke: rgb(255, 255, 255);
        stroke-width: 4px;
        stroke-linecap: round;
    }
    .top {
        stroke-dasharray: 40 250;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .middle {
        stroke-dasharray: 40, 0;
        stroke-dashoffset: 40;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .bottom {
        stroke-dasharray: 40 310;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
}

.active .top {
    stroke-dashoffset: -227;

}

.active .middle {
    stroke-dasharray: 0, 40;
    stroke-dashoffset: 20;
}

.active .bottom {
    stroke-dashoffset: -287;
}

.nav-mobil {
    z-index: 1000;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 68, 0, 0.5);
    visibility: visible;
    opacity: 1;
    padding-top: 45px;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    @media screen and (min-width: 48em) {
        display: flex;
        background: transparent;
    }
    a {
        @media screen and (max-width: 48em) {
            opacity: 1;
            font-size: 16px;
        }
    }
}

.mask.closed {
    opacity: 1;
    visibility: visible;
}
    .mask {
        position: absolute;
        visibility: hidden;
        z-index: 999;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 0.5s ease-in-out;
    }
    .pop-inscription,
    .pop-connect {
        border-radius: 15px;
        box-shadow: 0 0 80px 5px black;
        top: 0;
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        width: 50%;
        height: 500px;
        z-index: 1001;
        position: absolute;
        background-color: #D97136;
        top: -300px;
        animation: drop 1s ease-in-out forwards;
        animation-play-state: paused;
        @media screen and (max-width: 48em) {
            left: 15%;
            width: 70%;
            height: 300px;
            top: -400px;
        }
        h3 {
            color: rgb(255, 255, 255);
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: 'Alegreya', cursive;
        }
        .cross {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 15px;
            left: 15px;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
        }
        .cross:hover {
            transform: rotateZ(180deg);
        }
        h4 {
            color: #ffffff;
            margin-bottom: 15px;
        }
        form {
            display: flex;
            flex-direction: column;
            input {
                text-align: center;
                display: block;
                margin-top: 10px;
                width: 100%;
                padding: 8px 14px;
                line-height: 1.5;
                color: rgba(116, 150, 165, 0.651);
                border: 1px solid #ced4da;
                border-radius: 4px;
                transition: box-shadow 0.25s ease-in-out;
                font-family: 'Cookie', cursive;
                font-size: 25px;
                
            }
            input:focus {
                outline: none;
                box-shadow: 0 0 2px 2px $bg-color;
            }
        }
        .btn-submit {
            border: none;
            color: white;
            background-color: transparent;
            border: 1px solid white;
            padding: 15px 35px;
            cursor: pointer;
            transition: 0.25s ease-in-out;
            top: 20%;
            font-family: 'Cookie', cursive;
            font-size: 35px;
            margin-top: 50px;
        }
        .btn-submit:hover {
            padding: 15px 55px;
        }
    }
    nav {
        position: absolute;
        z-index: 999;
        a {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            transition: transform 0.5s ease-in-out, opacity 0.25s ease-in-out;
            &:hover {
                color: rgb(238, 132, 10);
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                text-shadow: 5px 5px black;
            }
            @media screen and (max-width: 48em) {
                opacity: 0;
            }
        }
      
        @media screen and (max-width: 48em) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transform: translateX(-100%);
            transition: 0.35s ease-in-out;
            height: 100%;
        }
    }
    video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0.5;
    }
    .pattern {
        background-image: url("../img/pattern.png");
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    #pause{
        position: absolute;
        z-index: 1000;
        background: transparent;
        border: none;
        outline: none;
        bottom: 15px;
        left: 15px;
        color: rgba(255, 68, 0, 0.623);
        cursor: pointer;
    }
    .search {
        z-index: 200;
        position: absolute;
        display: block;
        top: 5%;
        left: 75%;
        color: white;
        width: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid orange;
        border-radius: 10px;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.219);
        background-image: url('../img/search.png');
        background-position: 20px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 50px;
        -webkit-transition: width 1s ease-in-out;
        transition: 1s ease-in-out width;
        &:focus{
            color: orangered;
        }
        @media screen and (max-width: 48em) {
            left: 60%;
            top: 10%;
        }
    }
    .search:focus {
        width: 20%;
    }
    h1 {
        position: absolute;
        z-index: 200;
        top: 40%;
        left: 30%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 85px;
        height: 80px;
        width: 100%;
        text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%), 4px 4px 0 hsl(22, 68%, 53%), 5px 5px 0 hsl(22, 68%, 53%), 6px 6px 0 hsl(22, 68%, 53%), 7px 7px 0 hsl(22, 68%, 53%);
        @media screen and (max-width: 48em) {
            left: 15%;
            font-size: 60px;
        }
    }
    p {
        position: absolute;
        z-index: 200;
        top: 65%;
        left: 50%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 25px;
        @media screen and (max-width: 48em) {
            left: 25%;
            font-size: 25px;
        }
    }
    #by {
        color: white;
        height: 55px;
        font-size: 30px;
        width: 30%;
        top: 80%;
        left: 70%;
        font-family: 'Cookie', cursive;
        span {
            color: rgb(247, 93, 10);
            font-size: 45px;
            font-weight: bold;
            font-family: 'Londrina Outline', cursive;
        }
    }
}

// ANIMATION MENU BURGER
.burger {
    transform: translateY(-150px);
    left: 5%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    @media screen and (max-width: 48em) {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    svg {
        fill: transparent;
        stroke: rgb(255, 255, 255);
        stroke-width: 4px;
        stroke-linecap: round;
    }
    .top {
        stroke-dasharray: 40 250;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .middle {
        stroke-dasharray: 40, 0;
        stroke-dashoffset: 40;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .bottom {
        stroke-dasharray: 40 310;
        transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
}

.active .top {
    stroke-dashoffset: -227;

}

.active .middle {
    stroke-dasharray: 0, 40;
    stroke-dashoffset: 20;
}

.active .bottom {
    stroke-dashoffset: -287;
}

.nav-mobil {
    z-index: 1000;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 68, 0, 0.5);
    visibility: visible;
    opacity: 1;
    padding-top: 75px;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    @media screen and (min-width: 48em) {
        display: flex;
        background: transparent;
    }
    a {
        @media screen and (max-width: 48em) {
            opacity: 1;
            font-size: 16px;

        }
      
    }
}

.mask.closed {
    opacity: 1;
    visibility: visible;
}

//FIN MENU BURGER
.pop-inscription.open,
.pop-connect.open,.pop-contact.open {
    animation-play-state: running;
}

.pop-inscription.close,
.pop-connect.close,.pop-contact.close {
    animation: close 1s ease-in-out forwards;
}

@keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        visibility: visible;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(400px);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(550px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
    }
}