@import url(https://fonts.googleapis.com/css?family=Cookie|Londrina+Outline|Yellowtail);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Life+Savers:400,700);
php, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100%;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  position: relative;
  background-color: #5a5151;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container p {
  text-align: center;
  color: orangered;
  font-size: 35px;
  margin-top: 25px;
  width: 100%;
}

.container .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/blog-background1.jpg");
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 2;
  background-attachment: fixed;
}

.container article {
  z-index: 10;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

@media screen and (max-width: 48em) {
  .container article {
    width: 60%;
  }
}

@media screen and (max-width: 22.5em) {
  .container article {
    width: 95%;
  }
}

.container article figure {
  box-shadow: 30px 0 50px 15px #030303;
  overflow: hidden;
  text-align: center;
  position: relative;
  font-size: 0;
  width: 80%;
  background: #f9cd5c;
  background: -moz-linear-gradient(-45deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cd5c', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.container article figure img {
  width: 100%;
  opacity: .5;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.container article figure figcaption {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15% 10%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container article figure figcaption h3 {
  font-size: 40px;
  color: white;
  align-self: auto;
}

@media screen and (max-width: 22.5em) {
  .container article figure figcaption h3 {
    font-size: 22px;
  }
}

.container article figure figcaption .date {
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  left: 5%;
  color: #f84200;
}

.container article figure figcaption .extrait {
  align-self: center;
  color: white;
  font-size: 16px;
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

@media screen and (max-width: 22.5em) {
  .container article figure figcaption .extrait {
    font-size: 14px;
  }
}

.container article figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  font-size: 20px;
  z-index: 10;
}

.container article .pattern-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/pattern.png");
  width: 100%;
  height: 100%;
  opacity: .3;
}

.container article figure:hover img {
  opacity: 0.3;
  transform: scale(1.2, 1.2);
}

.container article figure:hover p {
  transform: translateY(0);
  opacity: 1;
}

.container article figcaption:before {
  content: ' ';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  transition: transform 0.35s ease-in-out;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1);
}

.container article figcaption:after {
  content: ' ';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  transition: transform 0.35s ease-in-out;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scale(1, 0);
}

.container article figure:hover figcaption:before,
.container article figure:hover figcaption:after {
  transform: scale(1, 1);
}

header .pref-img {
  opacity: 0.4;
}

header .portrait {
  width: 20%;
  position: absolute;
  right: 0;
  border-radius: 50%;
}

header .admin .admin-post {
  font-size: 40px;
  top: 10%;
  left: 40%;
}

header .admin form {
  position: absolute;
  z-index: 1000;
  top: 25%;
  left: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  width: 50%;
}

header .admin form .insert-pres {
  top: 17%;
  left: 30%;
}

header .admin form .insert-art {
  top: 32%;
  left: 30%;
}

header .admin form .erreur {
  align-self: center;
  color: red;
  font-size: 30px;
}

header .admin form input[type=file] {
  color: #ff9100;
}

header .admin form input,
header .admin form textarea {
  border-radius: 10px;
  font-family: 'Alegreya', cursive;
  font-size: 20px;
  text-align: center;
  width: 70%;
  height: 50px;
  margin-top: 50px;
  align-self: center;
}

header .admin form input:focus,
header .admin form textarea:focus {
  color: orangered;
}

header .admin form textarea {
  height: 200px;
}

header .admin form input[type=submit] {
  font-size: 15px;
  height: 50px;
  color: white;
  align-self: center;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid white;
  transition: transform 0.25s ease-in-out;
  width: 30%;
}

header .admin form input[type=submit]:hover {
  color: #ee3507;
  transform: scaleX(1.2);
  border: 1px solid #ee3507;
}

.confirm {
  color: #08ff8c;
  position: absolute;
  font-size: 35px;
  left: 15%;
  top: 80%;
}

header .lien-admin {
  display: block;
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 20px;
  font-family: 'Life', cursive;
  color: white;
  z-index: 2000;
  font-weight: bold;
}

header .posts {
  text-align: center;
  margin-top: 15%;
}

header .posts .titre-admin {
  position: absolute;
  z-index: 2000;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 85px;
  height: 80px;
  width: 100%;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
}

header .posts table {
  position: absolute;
  z-index: 1000;
  width: 30%;
  left: 35%;
  top: 40%;
  border-radius: 5px;
  background: white;
}

header .posts table tr td {
  width: 10%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #999;
}

header .posts table tr td:first-child {
  width: 80%;
  padding-left: 20px;
  text-align: left;
  color: #fa6400;
}

header .posts table tr td a {
  color: #999;
  text-decoration: none;
}

header .posts table tr td a:hover {
  color: #999;
  text-decoration: none;
}

header .posts table tr + tr {
  border-top: 1px solid #efefef;
}

#index .pref-img {
  opacity: 0.6;
}

#index h2 {
  position: absolute;
  z-index: 200;
  top: 20%;
  text-align: center;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 85px;
  height: 80px;
  width: 100%;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
}

#index .avatar {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 200;
}

#index .email {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 1500;
}

#index h3 {
  font-size: 35px;
  margin-top: 30%;
}

#index .comments .date {
  font-family: "Life", cursive;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 10%;
  color: white;
}

#index .comments .historique {
  font-family: "Life", cursive;
  font-size: 18px;
  position: absolute;
  top: 70%;
  left: 10%;
}

header h3 {
  color: white;
  font-size: 75px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1000;
}

header h4 {
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
  left: 50%;
  top: 250px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1000;
}

header .mail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header .mail form {
  position: absolute;
  z-index: 1500;
  top: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  width: 50%;
}

header .mail form .erreur {
  align-self: center;
  color: red;
  font-size: 30px;
}

header .mail form input, header .mail form textarea {
  border-radius: 10px;
  font-family: 'Alegreya', cursive;
  font-size: 20px;
  text-align: center;
  width: 70%;
  height: 50px;
  margin-top: 20px;
  align-self: center;
}

header .mail form input:focus, header .mail form textarea:focus {
  color: orangered;
}

header .mail form input[type=submit] {
  font-size: 15px;
  height: 50px;
  color: white;
  align-self: center;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid white;
  transition: transform 0.25s ease-in-out;
  width: 30%;
}

header .mail form input[type=submit]:hover {
  color: #ee3507;
  transform: scaleX(1.2);
  border: 1px solid #ee3507;
}

header h3 {
  color: white;
  font-size: 75px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1000;
}

header .connexion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header .connexion form {
  position: absolute;
  z-index: 1000;
  top: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  width: 50%;
}

header .connexion form .erreur {
  align-self: center;
  color: red;
  font-size: 30px;
}

header .connexion form input {
  border-radius: 10px;
  font-family: 'Alegreya', cursive;
  font-size: 20px;
  text-align: center;
  width: 70%;
  height: 50px;
  margin-top: 20px;
  align-self: center;
}

header .connexion form input:focus {
  color: orangered;
}

header .connexion form input[type=submit] {
  font-size: 15px;
  color: white;
  align-self: center;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid white;
  padding: 15px 35px;
  width: 50%;
  transition: transform 0.35s ease-in-out;
}

header .connexion form input[type=submit]:hover:hover {
  color: #ee3507;
  transform: scaleX(1.2);
  border: 1px solid #ee3507;
}

header h3 {
  color: white;
  font-size: 75px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1000;
}

header h4 {
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1000;
}

header .inscription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header .inscription form {
  position: absolute;
  z-index: 1000;
  top: 250px;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  width: 50%;
}

header .inscription form .erreur {
  align-self: center;
  color: red;
  font-size: 30px;
}

header .inscription form input {
  border-radius: 10px;
  font-family: 'Alegreya', cursive;
  font-size: 20px;
  text-align: center;
  width: 70%;
  height: 50px;
  margin-top: 20px;
  align-self: center;
}

header .inscription form input:focus {
  color: orangered;
}

header .inscription form input[type=submit] {
  font-size: 15px;
  color: white;
  align-self: center;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid white;
  padding: 15px 35px;
  width: 50%;
  transition: transform 0.35s ease-in-out;
}

header .inscription form input[type=submit]:hover:hover {
  color: #ee3507;
  transform: scaleX(1.2);
  border: 1px solid #ee3507;
}

.pref-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.container {
  height: auto;
  width: 100%;
}

.container .preface {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.container .preface img {
  width: 35%;
  align-self: center;
  transform: rotate(5deg);
}

.container .preface h2 {
  align-self: center;
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
}

.container .preface p {
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 1.5em;
}

.container .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/blog-background1.png");
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 2;
}

.container .comments {
  margin-top: 175px;
  z-index: 1500;
  margin-bottom: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

.container .comments h2 {
  color: #ff4400;
  font-size: 30px;
}

.container .comments .date {
  text-align: left;
  color: white;
  font-size: 18px;
}

.container .comments p {
  width: 50%;
  text-align: left;
  color: white;
  font-size: 20px;
}

.container .comments img {
  width: 50px;
  margin-top: 20px;
}

.container .comments .message-erreur {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  color: orangered;
}

.container .comments form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 70%;
}

.container .comments form input {
  align-self: center;
  height: 50px;
  color: white;
  width: 40%;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid white;
  transition: transform 0.35s ease-in-out;
  margin-top: 25px;
}

.container .comments form input:hover {
  border: 1px solid orangered;
  transform: scaleX(1.2);
  color: orangered;
}

.container .comments form #commentaire {
  border-radius: 10px;
  text-align: center;
  font-family: 'Alegreya', cursive;
  font-size: 20px;
}

.container .comments form #commentaire:focus {
  color: orangered;
}

header {
  box-shadow: 0 23px 30px 8px rgba(5, 5, 5, 0.705);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background: #f9cd5c;
  background: -moz-linear-gradient(-45deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cd5c', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-bottom: 1px solid orange;
}

header .burger {
  transform: translateY(-150px);
  left: 15%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

@media screen and (max-width: 48em) {
  header .burger {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

header .burger svg {
  fill: transparent;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
}

header .burger .top {
  stroke-dasharray: 40 250;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

header .burger .middle {
  stroke-dasharray: 40, 0;
  stroke-dashoffset: 40;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

header .burger .bottom {
  stroke-dasharray: 40 310;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

header .active .top {
  stroke-dashoffset: -227;
}

header .active .middle {
  stroke-dasharray: 0, 40;
  stroke-dashoffset: 20;
}

header .active .bottom {
  stroke-dashoffset: -287;
}

header .nav-mobil {
  z-index: 1000;
  height: 100%;
  width: 40%;
  background-color: rgba(255, 68, 0, 0.5);
  visibility: visible;
  opacity: 1;
  padding-top: 45px;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

@media screen and (min-width: 48em) {
  header .nav-mobil {
    display: flex;
    background: transparent;
  }
}

@media screen and (max-width: 48em) {
  header .nav-mobil a {
    opacity: 1;
    font-size: 16px;
  }
}

header .mask.closed {
  opacity: 1;
  visibility: visible;
}

header .mask {
  position: absolute;
  visibility: hidden;
  z-index: 999;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease-in-out;
}

header .pop-inscription,
header .pop-connect {
  border-radius: 15px;
  box-shadow: 0 0 80px 5px black;
  top: 0;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  width: 50%;
  height: 500px;
  z-index: 1001;
  position: absolute;
  background-color: #D97136;
  top: -300px;
  animation: drop 1s ease-in-out forwards;
  animation-play-state: paused;
}

@media screen and (max-width: 48em) {
  header .pop-inscription,
  header .pop-connect {
    left: 15%;
    width: 70%;
    height: 300px;
    top: -400px;
  }
}

header .pop-inscription h3,
header .pop-connect h3 {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Alegreya', cursive;
}

header .pop-inscription .cross,
header .pop-connect .cross {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

header .pop-inscription .cross:hover,
header .pop-connect .cross:hover {
  transform: rotateZ(180deg);
}

header .pop-inscription h4,
header .pop-connect h4 {
  color: #ffffff;
  margin-bottom: 15px;
}

header .pop-inscription form,
header .pop-connect form {
  display: flex;
  flex-direction: column;
}

header .pop-inscription form input,
header .pop-connect form input {
  text-align: center;
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 8px 14px;
  line-height: 1.5;
  color: rgba(116, 150, 165, 0.651);
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: box-shadow 0.25s ease-in-out;
  font-family: 'Cookie', cursive;
  font-size: 25px;
}

header .pop-inscription form input:focus,
header .pop-connect form input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(133, 197, 197, 0.548);
}

header .pop-inscription .btn-submit,
header .pop-connect .btn-submit {
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 35px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  top: 20%;
  font-family: 'Cookie', cursive;
  font-size: 35px;
  margin-top: 50px;
}

header .pop-inscription .btn-submit:hover,
header .pop-connect .btn-submit:hover {
  padding: 15px 55px;
}

header nav {
  position: absolute;
  z-index: 999;
}

header nav a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.5s ease-in-out, opacity 0.25s ease-in-out;
}

header nav a:hover {
  color: orangered;
}

@media screen and (max-width: 48em) {
  header nav a {
    opacity: 0;
  }
}

@media screen and (max-width: 48em) {
  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translateX(-100%);
    transition: 0.35s ease-in-out;
    height: 100%;
  }
}

header video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

header .pattern {
  background-image: url("../img/pattern.png");
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

header #pause {
  position: absolute;
  z-index: 1000;
  background: transparent;
  border: none;
  outline: none;
  bottom: 15px;
  left: 15px;
  color: rgba(255, 68, 0, 0.623);
  cursor: pointer;
}

header .search {
  z-index: 200;
  position: absolute;
  display: block;
  top: 5%;
  left: 75%;
  color: white;
  width: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.219);
  background-image: url("../img/search.png");
  background-position: 20px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 50px;
  -webkit-transition: width 1s ease-in-out;
  transition: 1s ease-in-out width;
}

header .search:focus {
  color: orangered;
}

@media screen and (max-width: 48em) {
  header .search {
    left: 60%;
    top: 10%;
  }
}

header .search:focus {
  width: 20%;
}

header h1 {
  position: absolute;
  z-index: 200;
  top: 40%;
  left: 30%;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 85px;
  height: 80px;
  width: 100%;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136, 4px 4px 0 #d97136, 5px 5px 0 #d97136, 6px 6px 0 #d97136, 7px 7px 0 #d97136;
}

@media screen and (max-width: 48em) {
  header h1 {
    left: 15%;
    font-size: 60px;
  }
}

header p {
  position: absolute;
  z-index: 200;
  top: 65%;
  left: 50%;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 25px;
}

@media screen and (max-width: 48em) {
  header p {
    left: 25%;
    font-size: 25px;
  }
}

header #by {
  color: white;
  height: 55px;
  font-size: 30px;
  width: 30%;
  top: 80%;
  left: 70%;
  font-family: 'Cookie', cursive;
}

header #by span {
  color: #f75d0a;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Londrina Outline', cursive;
}

.burger {
  transform: translateY(-150px);
  left: 5%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

@media screen and (max-width: 48em) {
  .burger {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.burger svg {
  fill: transparent;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 250;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.burger .middle {
  stroke-dasharray: 40, 0;
  stroke-dashoffset: 40;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.burger .bottom {
  stroke-dasharray: 40 310;
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.active .top {
  stroke-dashoffset: -227;
}

.active .middle {
  stroke-dasharray: 0, 40;
  stroke-dashoffset: 20;
}

.active .bottom {
  stroke-dashoffset: -287;
}

.nav-mobil {
  z-index: 1000;
  height: 100%;
  width: 40%;
  background-color: rgba(255, 68, 0, 0.5);
  visibility: visible;
  opacity: 1;
  padding-top: 75px;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

@media screen and (min-width: 48em) {
  .nav-mobil {
    display: flex;
    background: transparent;
  }
}

@media screen and (max-width: 48em) {
  .nav-mobil a {
    opacity: 1;
    font-size: 16px;
  }
}

.mask.closed {
  opacity: 1;
  visibility: visible;
}

.pop-inscription.open,
.pop-connect.open, .pop-contact.open {
  animation-play-state: running;
}

.pop-inscription.close,
.pop-connect.close, .pop-contact.close {
  animation: close 1s ease-in-out forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    visibility: visible;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(400px);
  }
}

@keyframes close {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateY(550px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
}

main {
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

main #split {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 48em) {
  main #split {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
  }
}

main #split .blog {
  position: absolute;
  top: 0;
  left: -50%;
  background: rgba(235, 99, 9, 0.26);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.35s ease-in-out;
}

main #split .blog #punaise2 {
  position: absolute;
  width: 5%;
  left: 15%;
  top: 5%;
}

main #split .blog figure {
  opacity: .6;
  width: 15%;
  position: absolute;
  left: 17%;
  top: 10%;
  transform: rotate(5deg);
}

main #split .blog figure img {
  width: 100%;
}

main #split .blog h2 {
  position: absolute;
  left: 70%;
  top: 20%;
  font-size: 45px;
  color: white;
  font-family: 'Life Savers', cursive;
}

@media screen and (max-width: 48em) {
  main #split .blog h2 {
    font-size: 25px;
  }
}

main #split .blog p {
  font-family: 'Life Savers', cursive;
  text-align: center;
  position: absolute;
  left: 60%;
  top: 45%;
  color: white;
  width: 30%;
  font-size: 25px;
}

@media screen and (max-width: 48em) {
  main #split .blog p {
    font-size: 20px;
  }
}

main #split .blog p span {
  color: #0aeebc;
  display: block;
  margin-top: 35px;
}

main #split .blog .enter {
  position: absolute;
  z-index: 1000;
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 35px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  top: 50%;
  left: 25%;
  font-family: 'Cookie', cursive;
  font-size: 35px;
  transform: translate(-50%, 50%);
}

main #split .blog .enter:hover {
  padding: 15px 55px;
  border: 1px solid #0aeebc;
}

main #split .about {
  background: rgba(35, 153, 127, 0.322);
  width: 100%;
  top: 0;
  right: -50%;
  position: absolute;
  height: 100%;
  cursor: pointer;
  transition: transform 0.35s ease-in-out;
}

main #split .about h2 {
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 45px;
  color: white;
  font-family: 'Life Savers', cursive;
}

@media screen and (max-width: 48em) {
  main #split .about h2 {
    font-size: 25px;
  }
}

main #split .about h3 {
  position: absolute;
  color: #D97136;
  font-size: 25px;
  left: 20%;
  top: 45%;
  font-family: 'Life Savers', cursive;
}

@media screen and (max-width: 48em) {
  main #split .about h3 {
    font-size: 20px;
  }
}

main #split .about #punaise {
  position: absolute;
  width: 5%;
  left: 58%;
  top: 5%;
}

main #split .about figure {
  opacity: .6;
  width: 15%;
  position: absolute;
  left: 60%;
  top: 10%;
  transform: rotate(5deg);
}

main #split .about figure img {
  width: 100%;
}

main #split .about .text {
  width: 40%;
  text-align: center;
  position: absolute;
  font-size: 18px;
  top: 45%;
  color: white;
  right: 5%;
}

@media screen and (max-width: 48em) {
  main #split .about .text {
    font-size: 10px;
  }
}

main #split .about .text span {
  color: #D97136;
  font-size: 25px;
  margin-top: 35px;
  display: block;
}

@media screen and (max-width: 48em) {
  main #split .about .text span {
    font-size: 12px;
    margin-top: 15px;
  }
}

.about.splitOn {
  transform: translateX(-50%);
}

.blog.splitOn {
  transform: translateX(50%);
}

footer {
  box-shadow: 0 -23px 60px 8px rgba(0, 0, 0, 0.788);
  z-index: 200;
  width: 100%;
  position: relative;
  background-image: url("../img/footer2.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 300px;
  border-top: 1px solid orange;
}

footer #adress {
  z-index: 200;
  align-self: flex-end;
  color: #D97136;
  text-align: center;
  font-size: 20px;
}

footer #copy {
  z-index: 200;
  align-self: center;
  color: white;
  height: 20px;
  text-shadow: 1px 1px 0 #d97136, 2px 2px 0 #d97136, 3px 3px 0 #d97136;
}

footer #reseaux {
  position: relative;
  display: flex;
  width: 50%;
}

footer #reseaux #fb {
  left: 50%;
  position: absolute;
  width: 50px;
  transition: transform 0.35s ease-in-out;
  opacity: 0.7;
}

footer #reseaux #fb:hover {
  transform: rotate(360deg) scale(1.3);
  filter: drop-shadow(0px 0px 10px black);
}

footer #reseaux #tw {
  position: absolute;
  width: 20%;
  transition: transform 0.35s ease-in-out;
}

footer #reseaux #tw:hover {
  transform: rotate(-360deg) scale(0.7);
}
/*# sourceMappingURL=main.css.map */