.portrait {
    width: 20%;
    position: absolute;
    right: 0;
    top: 150px;
    border-radius: 50%;
}

.bg1 {
    background-image: url("../img/blog-background1.png");
}

.admin {
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin-post {
        font-size: 40px;
    }
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        .insert-pres {
            top: 17%;
            left: 30%;
        }
        .insert-art {
            top: 32%;
            left: 30%;
        }
        .erreur {
            align-self: center;
            color: red;
            font-size: 30px;
        }
        input[type=file] {
            color: rgb(255, 145, 0);
        }
        input,
        textarea {
            border-radius: 10px;
            font-family: 'Alegreya', cursive;
            font-size: 20px;
            text-align: center;
            width: 70%;
            height: 50px;
            margin-top: 50px;
            align-self: center;
            &:focus {
                color: orangered;
            }
        }
        textarea {
            height: 200px;
        }
        input[type=submit] {
            font-size: 15px;
            margin-bottom: 50px;
            height: 50px;
            color: white;
            align-self: center;
            border: none;
            outline: none;
            background: transparent;
            border: 1px solid rgb(255, 255, 255);
            transition: transform 0.25s ease-in-out;
            width: 30%;
            &:hover {
                color: rgb(238, 53, 7);
                transform: scaleX(1.2);
                border: 1px solid rgb(238, 53, 7);
            }
        }
    }
}

