.portrait {
    margin-top: 50px;
    width: 10%;
    border-radius: 50%;
}

.scrollTop {
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 100000;
    right: 5%;
    bottom: 50px;
    opacity: 0;
    background-color: $colorSite;
    padding: 20px;
    transition: all 0.4s ease-in-out 0s;
    .fa-angle-double-up {
        font-size: 35px;
        color: #fff;
        &:hover {
            color: $colorSite;
        }
    }
    &:hover {
        background-color: white;
    }
}

.admin {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .signal {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        h2 {
            font-size: 35px;
            font-family: 'Satisfy', cursive;
            color: red;
        }
        .fa-exclamation-triangle {
            color: red;
            font-size: 35px;
        }
    }
    video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: 1;
        opacity: .8;
    }
    .erreur {
        align-self: center;
        color: red;
        font-size: 30px;
    }
    .envoi {
        text-align: center;
        h2 {
            font-size: 25px;
            color: rgb(16, 240, 16);
        }
        .fa-check-circle {
            margin-top: 20px;
            color: rgb(16, 240, 16);
            font-size: 30px;
        }
    }
    .comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        .membre {
            font-family: 'Satisfy', cursive;
            color: rgb(246, 95, 7);
        }
        .report {
            font-family: 'Satisfy', cursive;
            color: rgb(246, 95, 7);
        }
        .gestion {
            display: flex;
            .delete {
                font-size: 25px;
                margin-right: 70px;
            }
            .valide {
                font-size: 25px;
            }
        }
        a {
            text-align: center;
            font-family: 'Satisfy', cursive;
            font-size: 25px;
            display: block;
            color: white;
            text-decoration: none;
            margin-bottom: 50px;
            margin-top: 25px;
            border: 1px solid white;
            padding: 15px 35px;
            border-radius: 10px;
            transition: 0.25s ease-in-out;
            &:hover {
                border: 1px solid $colorSite;
                color: $colorSite;
            }
        }
        .date {
            font-size: 20px;
            color: white;
            font-family: 'Life', cursive;
        }
        .comment {
            background-color: rgba(255, 255, 255, 0.699);
            border-radius: 15px;
            font-size: 20px;
            min-height: 50px;
            width: 70%;
            border: 1px solid white;
        }
        img {
            width: 80px;
        }
       
    }
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        z-index: 10;
        .insert-pres {
            top: 17%;
            left: 30%;
        }
        .insert-art {
            top: 32%;
            left: 30%;
        }
        .erreur {
            align-self: center;
            color: red;
            font-size: 30px;
        }
        input[type=file] {
            color: rgb(255, 145, 0);
        }
        input,
        textarea {
            border-radius: 10px;
            font-family: 'Alegreya', cursive;
            font-size: 20px;
            text-align: center;
            width: 70%;
            height: 50px;
            margin-top: 50px;
            align-self: center;
            &:focus {
                color: $colorSite;
            }
        }
        textarea {
            height: 200px;
        }
        input[type=submit] {
            font-size: 15px;
            margin-bottom: 50px;
            height: 50px;
            color: white;
            align-self: center;
            border: none;
            outline: none;
            background: transparent;
            border: 1px solid rgb(255, 255, 255);
            transition: transform 0.25s ease-in-out;
            width: 30%;
            &:hover {
                color: $colorSite;
                transform: scaleX(1.2);
                border: 1px solid $colorSite;
            }
        }
    }
}

