.articles {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h3 {
        @include h3;
        text-align: center;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 65px;
        height: 80px;
        width: 100%;
        text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite, 4px 4px 0 $colorSite, 5px 5px 0 $colorSite, 6px 6px 0 $colorSite, 7px 7px 0 $colorSite;
    }
    p {
        color: white;
        font-family: 'Satisfy', cursive;
        span {
            text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite;
        }
        @media screen and (max-width: 48em) {
            width: 100%;
            font-size: 25px;
        }
        @media screen and (max-width: 22.5em) {
            width: 100%;
            font-size: 25px;
        }
    }
    .avatar {
        margin-bottom: 50px;
        align-self: center;
        height: 200px;
        width: 200px;
    }
    a {
        font-family: 'Life', cursive;
        font-size: 20px;
        border-radius: 15px;
        color: white;
        border: 1px solid white;
        padding: 15px 20px;
        &:hover {
            border: 1px solid $colorSite;
            color: $colorSite;
        }
    }
}

h3 {
    margin-bottom: 50px;
}

.commentaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .date {
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        align-content: flex-start;
        color: white;
        margin-bottom: 100px;
        img {
            margin-right: 50px;
            width: 60px;
        }
    }
    .comment {
        background-color: rgba(255, 255, 255, 0.466);
        border-radius: 15px;
        min-height: 150px;
        width: 50%;
        border: 1px solid white;
        font-size: 25px;
        font-family: 'Satisfy', cursive;
        color: white;
    }
}