
    h2{
        z-index: 200;
        top: 20%;
        text-align: center;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 85px;
        height: 80px;
        width: 100%;
        text-shadow: 1px 1px 0 hsl(22, 68%, 53%), 2px 2px 0 hsl(22, 68%, 53%), 3px 3px 0 hsl(22, 68%, 53%), 4px 4px 0 hsl(22, 68%, 53%), 5px 5px 0 hsl(22, 68%, 53%), 6px 6px 0 hsl(22, 68%, 53%), 7px 7px 0 hsl(22, 68%, 53%);
    }
    .avatar{
       height: 100px;
        width: 100px;
        z-index: 200;
    }
    .email{
        z-index: 1500;
    }
    h3{
       @include h3;
    }
    .comments{
       
        .date{
            font-family: "Life", cursive;
            font-size: 20px;
            position: absolute;
            top:65%;
            left: 10%;
            color:white;
        }
        .historique{
            font-family: "Life", cursive;
            font-size: 18px;
            position: absolute;
            top: 70%;
            left: 10%;
        }
    }
  
