.mail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    form {
        z-index: 1000;
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
        margin-top: 250px;
        width: 50%;
        .erreur {
            align-self: center;
            color: red;
            font-size: 30px;
        }
        input,
        textarea {
            border-radius: 10px;
            font-family: 'Alegreya', cursive;
            font-size: 20px;
            text-align: center;
            width: 70%;
            height: 50px;
            margin-top: 20px;
            align-self: center;
            &:focus {
                color: orangered;
            }
        }
        input[type=submit] {
            font-size: 15px;
            height: 50px;
            color: white;
            align-self: center;
            border: none;
            outline: none;
            background: transparent;
            border: 1px solid rgb(255, 255, 255);
            transition: transform 0.25s ease-in-out;
            width: 30%;
            &:hover {
                color: rgb(238, 53, 7);
                transform: scaleX(1.2);
                border: 1px solid rgb(238, 53, 7);
            }
        }
    }
}