footer {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    z-index: 200;
    width: 100%;
    position: relative;
    background-color: black;
    background-image: url('../img/footer3.png');
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    border-top: 1px solid orange;
    #adress {
        z-index: 200;
        margin-top: 75px;
        -ms-flex-item-align: center;
        align-self: center;
        color: $colorSite;
        text-align: center;
        font-size: 25px;
        font-family: 'Satisfy', cursive;
        color: white;
        @media screen and (max-width: 22.5em) {
            font-size: 18px;
        }
    }
    #copy {
        text-align: center;
        margin-top: 35px;
        z-index: 200;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 20px;
        color: white;
        text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite;
    }
    #reseaux {
        top: 20px;
        right: 5%;
        position: absolute;
        z-index: 205;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        #fb {
            cursor: pointer;
            right: 2%;
            position: absolute;
            width: 80px;
            -webkit-transition: -webkit-transform 0.35s ease-in-out;
            transition: -webkit-transform 0.35s ease-in-out;
            transition: transform 0.35s ease-in-out;
            transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
            opacity: 0.7;
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
            @media screen and (max-width: 22.5em) {
                width: 40px;
                -webkit-transform: translateX(-10%);
                transform: translateX(-10%)
            }
            &:hover {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
        }
        #tw {
            cursor: pointer;
            right: 15%;
            position: absolute;
            width: 80px;
            -webkit-transition: -webkit-transform 0.35s ease-in-out;
            transition: -webkit-transform 0.35s ease-in-out;
            transition: transform 0.35s ease-in-out;
            transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
            opacity: 0.7;
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
            @media screen and (max-width: 22.5em) {
                width: 40px;
            }
            &:hover {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
        }
        @media screen and (max-width:22.5em) {
            width: 80%;
        }
    }
}