header {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: 200;
    @include deg;
    border-bottom: 1px solid orange;
    @media screen and (max-width: 48em) {
        height: 300px;
    }
    @media screen and (max-width: 22.5em) {
        height: 200px;
    }
    .pref-img {
        opacity: 1;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @media screen and (min-width: 62em) {
            display: none;
        }
        @media screen and  (max-width: 62em) {
            display: block;
        }
    } // ANIMATION MENU BURGER
    .burger {
        -webkit-transform: translateY(-150px);
                transform: translateY(-150px);
        margin-left: 2%;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        position: fixed;
        z-index: 1000;
        @media screen and (max-width: 48em) {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        svg {
            fill: transparent;
            stroke: rgb(255, 255, 255);
            stroke-width: 4px;
            stroke-linecap: round;
        }
        .top {
            stroke-dasharray: 40 250;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
        .middle {
            stroke-dasharray: 40, 0;
            stroke-dashoffset: 40;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
        .bottom {
            stroke-dasharray: 40 310;
            -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
            transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
    }
    .active .top {
        stroke-dashoffset: -227;
    }
    .active .middle {
        stroke-dasharray: 0, 40;
        stroke-dashoffset: 20;
    }
    .active .bottom {
        stroke-dashoffset: -287;
    }
    .nav-mobil {
        z-index: 1000;
        height: 100%;
        width: 60%;
        background-color: rgba(246, 162, 7, 0.5);
        visibility: visible;
        opacity: 1;
        padding-top: 75px;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        @media screen and (min-width: 48em) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background: transparent;
        }
      
        a {
            @media screen and (max-width: 48em) {
                opacity: 1;
                font-size: 16px;
                &:hover{
                    
                }
            }
        }
    }
    .mask.closed {
        opacity: 1;
        visibility: visible;
    }
    .mask {
        position: absolute;
        visibility: hidden;
        z-index: 999;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        -webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 100000;
        height: 70px;
        background-color: rgba(109, 106, 101, 0.801);
        width: 100%;
        position: fixed;
        outline: none;
        a {
            display: block;
            white-space:nowrap;
            text-transform: uppercase;
            font-weight: bold;
            padding: 25px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            font-family: 'Life savers', cursive;
            -webkit-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            &:hover {
                color: $colorSite;
            }
            @media screen and (max-width: 62em) {
                font-size: 14px;
            }
            @media screen and (max-width: 48em) {
                opacity: 0;
            }
        }
        @media screen and (max-width: 48em) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
            -webkit-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            height: 100%;
        }
    }
    video {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: 1;
        opacity: .9;
        @media screen and (max-width: 22.5em), (max-width: 48em), (max-width: 62em) {
            display: none;
        }
    }
    .pattern {
        background-image: url("../img/pattern.png");
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 0.3;
        @media screen and (max-width: 22.5em), (max-width: 48em), (max-width: 62em) {
            display: none;
        }
    }
    #pause {
        position: absolute;
        z-index: 1000;
        background: transparent;
        border: none;
        outline: none;
        bottom: 15px;
        left: 15px;
        color: $colorSite;
        cursor: pointer;
        @media screen and (max-width: 22.5em), (max-width: 48em), (max-width: 62em) {
            display: none;
        }
    }
    .search {
        z-index: 200;
        position: absolute;
        display: block;
        top: 10%;
        left: 87%;
        color: white;
        width: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid $colorSite;
        border-radius: 10px;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.219);
        background-image: url('../img/search.png');
        background-position: 20px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 50px;
        -webkit-transition: width 1s ease-in-out;
        -webkit-transition: 1s ease-in-out width;
        transition: 1s ease-in-out width;
        &:focus {
            color: $colorSite;
        }
        @media screen and (max-width: 62em) {
            display: none;
        }
        @media screen and (max-width: 48em) {
            display: none;
        }
    }
    .search:focus {
        width: 12%;
    }
    h1 {
        position: absolute;
        z-index: 200;
        top: 40%;
        left: 30%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 85px;
        height: 80px;
        width: 100%;
        @media screen and (max-width: 48em) {
            left: 15%;
            font-size: 60px;
        }
    }
    p {
        position: absolute;
        z-index: 200;
        top: 80%;
        left: 50%;
        color: white;
        font-family: 'Cookie', cursive;
        font-size: 25px;
        @media screen and (max-width: 22.5em), (max-width: 48em), (max-width: 62em) {
            display: none;
        }
    }
    #by {
        color: white;
        height: 55px;
        font-size: 30px;
        width: 30%;
        top: 85%;
        left: 70%;
        font-family: 'Cookie', cursive;
        span {
            color: $colorSite;
            font-size: 45px;
            font-weight: bold;
            font-family: 'Londrina Outline', cursive;
        }
    }
}

.active .top {
    stroke-dashoffset: -227;
}

.active .middle {
    stroke-dasharray: 0, 40;
    stroke-dashoffset: 20;
}

.active .bottom {
    stroke-dashoffset: -287;
}

.nav-mobil {
    z-index: 10000;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 68, 0, 0.5);
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    @media screen and (min-width: 48em) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: transparent;
    }
    a {
        @media screen and (max-width: 48em) {
            opacity: 1;
            font-size: 16px;
        }
    }
}

.mask.closed {
    opacity: 1;
    visibility: visible;
}

//FIN MENU BURGER
.pop-inscription.open,
.pop-connect.open,
.pop-contact.open {
    -webkit-animation-play-state: running;
            animation-play-state: running;
}

.pop-inscription.close,
.pop-connect.close,
.pop-contact.close {
    -webkit-animation: close 1s ease-in-out forwards;
            animation: close 1s ease-in-out forwards;
}

@-webkit-keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(500px);
                transform: translateY(500px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(400px);
                transform: translateY(400px);
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(500px);
                transform: translateY(500px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(400px);
                transform: translateY(400px);
    }
}

@-webkit-keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(550px);
                transform: translateY(550px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(550px);
                transform: translateY(550px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
}

 /* ligne survol menu */
 .line {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .line:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: $colorSite;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .line:hover:before, .line:focus:before, .line:active:before {
    right: 0;
  }