//ANIMATION BEFORE ET AFTER IMAGES ROMAN
@mixin anim {
    content: ' ';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

// DEGRADE DE COULEUR
@mixin deg {
    background: #f9cd5c;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f9cd5c 9%, #207cca 100%, #2989d8 100%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cd5c', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

//Titres h3 
@mixin h3 {
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 55px;
    text-shadow: 1px 1px 0 $colorSite, 2px 2px 0 $colorSite, 3px 3px 0 $colorSite, 4px 4px 0 $colorSite, 5px 5px 0 $colorSite;
    @media screen and (max-width: 48em) {
        width: 100%;
        font-size: 35px;
    }
    @media screen and (max-width: 22.5em) {
        width: 100%;
        font-size: 25px;
    }
}

//Titres h4 
@mixin h4 {
    color: white;
    font-size: 35px;
}

@mixin button {
    position: absolute;
    z-index: 1000;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 35px;
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    top: 50%;
    left: 25%;
    font-family: 'Cookie', cursive;
    font-size: 35px;
    border-radius: 15px;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
}

@mixin buttonHover {
    padding: 15px 55px;
    color: $colorSite;
    border: 1px solid $colorSite;
}